nav.navbar, footer {
    background-color: #ef8390;
}

nav.navbar a {
    color: black;
}

nav.navbar a:hover {
    text-decoration: underline;
}

/* Estilos para enlaces en el footer */
footer a {
    color: black;
    text-decoration: none; /* Elimina el subrayado por defecto */
}

footer a:hover {
    text-decoration: underline;
}

.media-body {
    padding-left: 15px;
}

.card-price {
    margin-top: 20px;
    font-weight: bold;
    font-size: 1.5rem;
}

.media img {
    max-width: 100%;
}

.custom-jumbotron {
    background-size: cover;
    color: black;
}